.orderContainer {
  padding: .5rem 0 2rem;
  border-bottom: 2px solid var(--brown-900);

  padding-left: 15px;
}

.orderCard {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 360px;
  height: 120px;
  margin: 10px;
  border-radius: 5px;

  background: linear-gradient(315deg, #dad2ab, #fff9cb);
  box-shadow: 10px 15px 20px #bfb896, 
              18px 20px 20px #ffffe6;
  
  img {
    width: 100px;
    height: 100px;
  }

  div {
    h3, span {
      text-transform: capitalize;
    }

    span {
      display: inline-block;
      width: 32px;
      padding: 0 3px;
      border: 2px solid var(--brown-900);
      border-radius: 5px;
      text-align: center;
    }
    
  }
  .orderInfo {
    width: 210px;
    margin: 5px 0;
  }

  .orderPrice {
    display: flex;
    justify-content: space-between;

    svg {
      width: 24px;
      height: 24px;
      
      color: #737380;
      transition: color .5s;

      &:hover {
        cursor: pointer;
        color: rgba(#ff0000, .8);
     }
    }
  }
}

.form {
  margin: 15px;

  input {
    margin-right: 10px;
  }

  input[type='radio']{
    margin-left: 10px;
  }

  input[type="number"]{
    width: 60px;
    text-align: center;
  }

  button {
    padding: 0.5rem 1rem;

    font-weight: bold;
    font-size: 18px;

    border-radius: 5px;
    background: var(--pink-900);
    color: var(--white);

    transition: filter .3s;

    &:hover {
      filter: brightness(0.8);
    }
    
  }
}

.address {
  label {
    display: block;
    width: fit-content;
  }
}