.formSection {
  display: flex;
  flex-direction: column;

  span {
    margin-left: 1rem;
  }

  textarea {
    margin: 1rem;
    border-radius: .6rem;
    max-width: 25rem;
  }
}

.sectionTitle {
  margin: 1rem;
}

.batterSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.fillingSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  label {
    min-width: 8rem;
    margin: 0 1rem;
  }
}

.cakeBatterOption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 13rem;
  margin: 1rem;
}

.cakeFillingOption {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.inputOption {
  label {
    color: #000;
    display: inline-block;
    background: #e8e8e8;
    width: 100%;
    padding: .8rem 1rem;
    border: 2px solid #d9d9d9;
    border-radius: .6rem;
    margin-bottom: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
  }

  input {
    display: inline-block;
    visibility: hidden;
    position: absolute;
  }

  input:checked + label {
    border-color: blue;
  }
}

.buttonContainer {
  display: flex;
  align-items: center;

  button {
    margin-left: 1rem;
    border-radius: .6rem;
    padding: .75rem 1rem;
  }
}