.formContainer {
  height: fit-content;
  margin: 1rem;
}

.formSection {
  display: flex;
  flex-direction: column;

  span {
    margin-left: 1rem;
  }

  p {
    color: rgba(#000000,.7);
  }

  textarea {
    margin: 1rem 0;
    padding: 3px 3px;
    border-radius: .5rem;
    max-width: 25rem;
    height: 75px;
  }
}

.sectionTitle {
  svg {
    vertical-align: top;
    margin-right: 10px;
    color: var(--pink-900);
  }
  width: fit-content;
  margin: 2rem 0;
  border-bottom: 2px solid var(--brown-900);
}

.batterSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.fillingSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  label {
    min-width: 8rem;
    margin: 0 1rem;
  }
}

.cakeBatterOption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 13rem;
  margin: 1rem;
}

.cakeFillingOption {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.inputOption {
  label {
    display: inline-block;
    width: 100%;

    padding: .8rem 1rem;
    margin-bottom: .5rem;
    text-overflow: ellipsis;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    
    border: 2px solid var(--brown-900);
    border-radius: .5rem;
    background: #e8e8e8;
    color: var(--brown-900);
    overflow: hidden;

    transition: all .3s;
    
    cursor: pointer;
  }

  input {
    display: inline-block;
    visibility: hidden;
    position: absolute;
  }
  
  input:checked + label {
    background: var(--pink-900);
    color: var(--white);
    border-color: var(--pink-900);
  }

  // Resolve the hover problem
  @media (hover: hover){
    input:checked + label, label:hover {
      background: var(--pink-900);
      color: var(--white);
      border-color: var(--pink-900);
    }
  }
}

.buttonContainer {
  display: flex;
  align-items: center;

  button {
    padding: 0.5rem 1rem;

    font-weight: bold;
    font-size: 18px;

    border-radius: 5px;
    background: var(--pink-900);
    color: var(--white);

    transition: filter .3s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}