.menuContainer {
  height: 100vh;

  .cardCake {
    display: flex;
    width: 800px;
    margin: 0 auto;

    border-radius: 5px;
    background: var(--gray-300);

    img {
      margin: 1rem;
      width: 220px;
    }

    .infoCake {
      margin: 1rem;

      .title {
        font-size: 28px;
        font-weight: 700;
      }

      .sizeCake {
        label {
          margin-right: 1rem ;
          font-size: 20px;
        }
      }
    }

    button {
      padding: 0.5rem 1rem;
      margin: auto;
      
      border-radius: 5px;
      border: 1px solid #000;
    }
  }
}