.homeContainer {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 5rem 1fr 1fr 5rem;
  grid-template-areas:
  "imgBg section"
  "imgBg section"
  "imgBg buttonWpp";

  header {
    grid-area: navbar;
  }

  .backgroundImg{
    grid-area: imgBg;

    // width: 500px;
    margin: 0 auto;
    background-size: contain;
    height: calc(100vh - 5rem);
  }

  section {
    grid-area: section;
    
    img {
      display: block;
      width: 270px;
  
      margin: 2rem auto 0;

      border-radius: 270px;
    }

    p {
      margin: 2rem;

      font-size: 22px;
      text-align: justify;
    }
  }

  button {
    grid-area: buttonWpp ;
    display: flex;
    justify-content: flex-end;

    width: 100%;
    
    background: none;

    img {  
      right: 0;
      margin: 0 2rem;
    }
    
  }
}