.signInButton {
  display: flex;
  height: 3rem;
  padding: 0 1.55rem;
  
  align-items: center;
  justify-content: center;
  
  border: 0;
  border-radius: 3rem;
  color: var(--pink-900);
  font-weight: bold;
  background: var(--beige-450);
  box-shadow: -10px 10px 20px #b8b08b,
  5px -5px 15px #ffffd1;

  transition: filter  0.2s;

  &:hover {
    filter: brightness(0.9);
  }

  svg.entryIcon {
    color: var(--pink-900);
    margin-left: 5px;
  }

}

.signOutButton {

  height: 3rem;
  border-radius: 3rem;
  background: var(--pink-900);
  border: 0;
  padding: 0 .2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #FFF;

  transition: filter  0.2s;

  img {
    margin-right: 0.5rem;
    width: 40px;
    border-radius: 99px;
  }

  &:hover {
    filter: brightness(0.9);
  }
  
  svg.closeIcon {
    margin: 0 .5rem;
  }
}