.signInButton {
  display: flex;
  height: 3rem;
  padding: 0 1.55rem;
  
  align-items: center;
  justify-content: center;
  
  border: 0;
  border-radius: 3rem;
  color: var(--pink-900);
  font-weight: bold;
  background: var(--beige-450);
  box-shadow: -1px 5px 4px #c6bf9c, 
              4px 2px 20px #ffffe0;

  transition: filter  0.2s;

  &:hover {
    filter: brightness(0.9);
  }

  svg.entryIcon {
    color: var(--pink-900);
    margin-left: 5px;
  }

}

.signOutButton {

  height: 3rem;
  // width: 360px;
  border-radius: 3rem;
  background: var(--pink-900);
  border: 0;
  padding: 0 .2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #FFF;

  transition: filter  0.2s;

  img {
    margin-right: 0.5rem;
    width: 40px;
    border-radius: 99px;
  }

  &:hover {
    filter: brightness(0.9);
  }
  
  svg.closeIcon {
    margin: 0 .5rem;
  }
}

@media screen and (max-width: 830px) {
  .signOutButton {
    width: 275px;
    img {
      width: 38px;
    }

    .closeIcon {
      width: 20px;
      height: 20px;
    }
  }
}