.headerContainer {
  height: 5rem;
  width: 100%;

  position: fixed;
  top: 0;

  border-bottom: 1px solid var(--brown-300);
  background: var(--beige-450);
}

.headerContent {
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  .logo {
    width: 175px;
  }

  .back {
    svg {
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin-right: 5px;
    }
    color: var(--brown-300);
    font-weight: 700;
  }

  nav {
    margin-left: 5rem;
    height: 5rem;

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 5rem;
      line-height: 5rem;
      font-size: 18px;

      color: var(--brown-300);
      transition: color 0.2s;

      & + a {
        margin-left: 2rem;
      }

      &:hover {
        filter: brightness(0.8);
        font-weight: 700;
      }

      &.active {
        color: var(--brown-300);
        font-weight: bold;
      }
    }
  }

  button {
    margin-left: auto;
  }

}

@media screen and (max-width: 830px) {
  .headerContainer {
    min-width: 375px;
    background: var(--beige-450);
  }

  .headerContent {
    padding: 0 .5rem;
    justify-content: space-between;

    .logo, nav {
      display: none;
    }

    

  }
}