.menuContainer {
  height: fit-content;
  margin: 5rem 2rem 1rem;

  h1 {
    svg {
      vertical-align: top;
      margin-right: 10px;
      color: var(--pink-900);
    }
    width: fit-content;
    padding-right: 5px;
    margin-left: 5rem;

    border-bottom: 2px solid var(--brown-900);
  }

  .menuContent {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 830px){
  .menuContainer {
    h1 {
      margin-left: 0;
    }
  }
  .menuContent {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

  }
}